@using Itask_4.Areas.Identity.Data;
@model IList<AppUser>
@{
    ViewData["Title"] = "Panel";
}


<div style="padding:60px 0px 60px 0px">
    <p>
        <h2 id="usersHeader">Users:</h2>
    </p>
    <div id="toolbar" class="toolbar-fixed">
    <div class="container">
        <div class="text-center">
            <button class="btn btn-danger" id="buttonBlock">Block</button>
            <button class="btn btn-success" id="buttonUnblock"><i class="bi bi-unlock-fill"></i></button>
            <button class="btn btn-primary" id="buttonDelete"><i class="bi bi-x-square-fill"></i></button>
        </div>    
    </div>
</div>
    <table class="table table-hover home-content table-bordered">
        <thead>
            <tr>
                <th>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="fullCheckBox">
                        <label class="custom-control-label" for="fullCheckBox"></label>
                    </div>
                </th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Registration Time</th>
                <th>Last Login Time</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="@item.Id">
                            <label class="custom-control-label" for="@item.Id"></label>
                        </div>
                    </td>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.RegistrationTime</td>
                    <td>@item.LastLoginTime</td>
                    <td>@item.isActive</td>
                </tr>
            }
        </tbody>
    </table>

</div>
